<%- include('../partials/head')%>

<%- include('../partials/navbar')%>

<h1>Edit Crud</h1>
<form action="/crud/<%=item.id%>?_method=PATCH" method="post">
	<section>
		<label for="text">Crud Text:</label>
		<br>
		<textarea name="text" id="text" cols="30" rows="5">
			<%= item.text %>
		</textarea>
	</section>
	<button>Update</button>
</form>
<a href="/crud">Back to Index</a>

<%- include('../partials/foot')%>
