<%- include('../partials/head')%>

	<%- include('../partials/navbar')%>

		<h1>New crud</h1>
		<form action="/cruds" method="post">
			<section>
				<label for="name">NAME</label>
				<input type="text" id="name" placeholder="name" name="name">
			</section>
			<section>
				<label for="text">TEXT</label>
				<br>
				<textarea name="text" id="text" cols="30" rows="5"></textarea>
			</section>
			<section>
				<label for="type">TYPE</label>
				<select name="type" id="type">
					<% for(let type of crudTypes){%>
						<option value="<%=type%>">
							<%=type%>
						</option>
						<%}%>
				</select>
			</section>
			<button>Submit</button>
		</form>
		<a href="/cruds">Back to Index</a>

		<%- include('../partials/foot')%>